<div class="well">
  <% if @stylists.any?() %>
    <h3>These are your stylists.</h3>
    <% @stylists.each() do |stylist| %>
      <a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a><br>
    <% end %>
  <% else %>
    <h3>You don't have any stylists! Not much of a hair salon you're running.</h3>
  <% end %>
</div>

<div class="well">
  <h3>Add a stylist.</h3>
  <form action="/stylists" method="post">
    <div class="form-group">
      <input id="stylist_name" name="stylist_name" placeholder="Stylist Name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
